# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EventBusShaderPlay.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\GameDevelopment\UnityBuilds\ForsbergExercises\EventBusShaderPlay\.idea\.idea.EventBusShaderPlay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
